.expensotron {
    height: 100%;
}

.mapview {
    height: 50%;
}

.infoview {
    height: 50%;
    display: flex;
    flex-flow: row nowrap;
    background-color: lightblue;
}

.groupedbar {
    display: flex;
    flex: 1 1 auto;
}

.cons {
    stroke-width: 0.5px;
    stroke: none;
    transition: opacity 0.2s linear, transform 0.3s ease;
    transform: '';
}

.cons:not(.zoomed):hover {
    opacity: 0.8;
}

.cons.zoomed {
    opacity: 0.3;
}

.cons.zoomed.focused {
    opacity: 0.6;
    stroke: black;
    stroke-width: 1px;
}

.cons.zoomed.focused:hover {
    opacity: 0.2;
}

.cons.zoomed.selected {
    opacity: 1;
    transform: translate(10px, -10px);
    z-index: -100;
}

.cons.zoomed.focused.selected:hover {
    opacity: 1;
}

.axis.y .tick line {
    stroke-dasharray: 2 2 ;
    stroke: #ccc;
}

.bar {
  stroke: #333;
  stroke-width: 1;
  transition: opacity 0.4s linear;
}

.faded rect {
    opacity: 0.2;
}
